// Color Variables
$primary-color: #16a085; // Softer teal color
$secondary-color: #3712f3; // Vibrant orange color
$background-color: #34495e; // Dark blue-grey color
$text-color: #ecf0f1; // Light grey text color for better contrast
$border-color: #bdc3c7; // Soft grey border color
$danger-color: #5f2bc0; // Stronger red color for danger/warnings

// Font Variables
$font-family: "Roboto", sans-serif;

// Padding and Margin Variables
$padding-small: 15px;
$padding-medium: 25px;
$padding-large: 35px;
$margin-small: 15px;
$margin-medium: 25px;
$margin-large: 35px;

// Border Radius Variables
$border-radius-small: 8px;
$border-radius-medium: 12px;
$border-radius-large: 18px;
